
[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git


[submodule boilerplate]
    path = boilerplate
     url = http://github.com/paulirish/html5-boilerplate.git

